<h2 mat-dialog-title>
  <span>{{ 'dcma.settings.title' | transloco }}</span>
</h2>

<mat-dialog-content>
  <div class="dlg-body split-scroll" role="group" [attr.aria-label]="'dcma.settings.splitAria' | transloco">
    <nav class="left-nav" [attr.aria-label]="'dcma.settings.navAria' | transloco">
      <mat-nav-list>
        @for (id of ids; track id) {
          <a mat-list-item
             (click)="select(id)"
             [class.active]="selected() === id"
             [attr.aria-selected]="selected() === id"
             [attr.aria-controls]="'pane-' + id"
             role="tab">
            <span class="num">{{ id }}</span>
            <span class="label">{{ ('dcma.checks.names.' + id) | transloco }}</span>
          </a>
        }
      </mat-nav-list>
    </nav>

    @if (currentId(); as cid) {
      <section #rightPane class="right-pane" [attr.id]="'pane-' + cid" role="tabpanel" tabindex="0">
        <h4 class="section-title">{{ 'dcma.common.title.visibility' | transloco }}</h4>

        <div class="row-line">
          <div class="row-text">
            <div class="row-title">{{ 'dcma.settings.enableAnalysis' | transloco }}</div>
          </div>
          <mat-slide-toggle
            [checked]="curEnabled()"
            (change)="onToggleEnabled($event.checked)"
            [attr.aria-label]="'dcma.settings.enableAnalysis' | transloco">
          </mat-slide-toggle>
        </div>

        <div class="row-line">
          <div class="row-text">
            <div class="row-title">{{ 'dcma.settings.showInTable' | transloco }}</div>
          </div>
          <mat-slide-toggle
            [checked]="curShown()"
            (change)="onToggleShown($event.checked)"
            [disabled]="!curEnabled()"
            [attr.aria-label]="'dcma.settings.showInTable' | transloco">
          </mat-slide-toggle>
        </div>

        @switch (cid) {
          @case (1)  { <app-dcma-check1-settings-pane /> }
          @case (2)  { <app-dcma-check2-settings-pane /> }
          @case (3)  { <app-dcma-check3-settings-pane /> }
          @case (4)  { <app-dcma-check4-settings-pane /> }
          @case (5)  { <app-dcma-check5-settings-pane /> }
          @case (6)  { <app-dcma-check6-settings-pane /> }
          @case (7)  { <app-dcma-check7-settings-pane /> }
          @case (8)  { <app-dcma-check8-settings-pane /> }
          @case (9)  { <app-dcma-check9-settings-pane /> }
          @case (10) { <app-dcma-check10-settings-pane /> }
          @case (11) { <app-dcma-check11-settings-pane /> }
          @case (12) { <app-dcma-check12-settings-pane /> }
          @case (13) { <app-dcma-check13-settings-pane /> }
          @case (14) { <app-dcma-check14-settings-pane /> }
          @default   { <app-dcma-empty-settings-pane [checkId]="cid" /> }
        }
      </section>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button color="primary" (click)="reset()">
    <mat-icon>restart_alt</mat-icon>
    {{ 'dcma.settings.resetToDefaults' | transloco }}
  </button>
  <span class="fx"></span>
  <button mat-button (click)="close(false)">{{ 'common.cancel' | transloco }}</button>
  <button mat-flat-button color="primary" (click)="close(true)">{{ 'dcma.settings.done' | transloco }}</button>
</mat-dialog-actions>
